<div class="modal fade modal-sm" id="m_pedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 mt-4">
          <label for="code" class="form-label">Cliente</label>
          <input type="text" class="form-control" id="client" ng-model="code" >
        </div>
        <div class="mb-3 mt-4">
          <label for="code" class="form-label">Código</label>
          <input type="text" class="form-control" id="codeClient" ng-model="code" >
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Generar</button>
      </div>
    </div>
  </div>
</div>
